*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 25px; */
  background-image: linear-gradient(120deg, #f9f9f9, #f2f2f2);
  font-family: Tahoma, sans-serif;
}

.slider-wrapper {
  position: relative;
}

.slider {
  --slide-width: clamp(320px, 75vw, 800px);
  --slide-height: clamp(240px, 75vh, 600px);
  display: grid;
  grid-auto-flow: column;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  max-width: var(--slide-width);
  border: 5px solid #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2), 0 2px 20px rgba(0, 0, 0, 0.25);
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.slider::-webkit-scrollbar {
  display: none;
}

.slide {
  scroll-snap-align: start;
  width: var(--slide-width);
  height: var(--slide-height);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  gap: 15px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dots a {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
  cursor: pointer;
}
.dots a:hover {
  opacity: 1;
}

.caption {
  display: block;
  margin-top: 25px;
  color: #999;
  letter-spacing: 0.5px;
}